<app-navbar></app-navbar>
<body class="bg-light d-flex justify-content-center align-items-center">
<div class="container">
      <!-- <div class="loader-overlay" *ngIf="isLoading">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>  -->
  
      <form
        class="border p-3 rounded-3"
        (ngSubmit)="onSubmit()"
        #changePasswordForm="ngForm"
      >
        <div class="row g-0">
          <div class="form-heading col text-center p-2 mb-3 bg-light">
            <h3>Change Password</h3>
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col form-group">
            <label for="newPassword" class="form-label">New Password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              [(ngModel)]="newPassword"
              name="newPassword"
              required
              (ngModelChange)="onPasswordChange()"
            />
            <div
              class="form-text text-danger"
              *ngIf="passwordsMismatch"
            >
              New password and confirm password do not match.
            </div>
            <div
              class="form-text text-danger"
              *ngIf="invalidPassword"
            >
              Password must be at least 6 characters long and contain both letters and numbers.
            </div>
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col form-group">
            <label for="confirmPassword" class="form-label">Confirm New Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              required
              (ngModelChange)="onPasswordChange()"
            />
          </div>
        </div>
  
        <div class="row">
          <div class="col-6 offset-3">
            <div class="d-grid">
              <button
                type="submit"
                class="btn btn-submit"
                [disabled]="!changePasswordForm.valid || passwordsMismatch || invalidPassword"
              >
                Change Password
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>