<div class="container mt-5">
    <h2>Change Password</h2>
    <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm New Password</label>
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
      <div *ngIf="passwordsMismatch" class="text-danger">
        New password and confirm password do not match.
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid || passwordsMismatch">Change Password</button>
    </form>
</div>
