<app-navbar></app-navbar>
<div class="profile-container">
  <div class="loader-overlay" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <h2 class="profile-heading">User Profile</h2>
  <div class="profile-card">
    <div class="profile-image-container">
      <img
        *ngIf="user.ProfileImage"
        [src]="'https://localhost:7015' + user.ProfileImage"
        alt="Profile Picture"
        class="profile-image"
      />
    </div>

    <div class="profile-details">
      <h3>{{ user.FirstName }} {{ user.LastName }}</h3>
      <p><strong>Email:</strong> {{ user.Email }}</p>
      <p><strong>Mobile:</strong> {{ user.PhoneNumber }}</p>
      <p><strong>Address:</strong> {{ user.Address }}</p>
      <p><strong>Date of Birth:</strong> {{ user.Dob | date: 'MM/dd/yyyy' }}</p>

      <div class="button-group">
        <button class="btn btn-primary" (click)="toggleEditMode()">Edit Profile</button>
        <button class="btn btn-danger" (click)="Logout()">Logout</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="editProfileModal"
    tabindex="-1"
    aria-labelledby="editProfileModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateProfile()">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input [(ngModel)]="user.FirstName" name="firstname" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input [(ngModel)]="user.LastName" name="lastname" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="user.Email" name="email" class="form-control"  />
            </div>

            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input [(ngModel)]="user.dob" [value]="formattedDob" name="dob" class="form-control" type="date" [attr.max]="todayDate" />
            </div>

            <div class="form-group">
              <label for="mobilenumber">Mobile Number</label>
              <input [(ngModel)]="user.PhoneNumber" name="mobilenumber" class="form-control" />
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input [(ngModel)]="user.Address" name="address" class="form-control" />
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input [(ngModel)]="user.City" name="city" class="form-control" />
            </div>
            
            <div class="form-group">
              <label for="profileimage">Profile Image</label>
              <input type="file"  (change)="onFileChange($event)" accept="image/*" class="form-control" />
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Save Changes</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>